* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.contact-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-card {
  display: flex;
  padding: 20px;
  color: #ffffff;
  background-color: rgb(83, 83, 255);
  box-shadow: 10px 10px 25px -16px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  max-width: 500px;
  max-height: 125px;
  margin: 15px 0 10px 0;
}

.contact-card p {
  margin: 0 0 10px 10px;
}

button {
  width: 80px;
  height: 30px;
  border-radius: 5px;
  margin: 0 0 10px 10px;
  background-color:  rgb(83, 83, 255);
  color: white;
  border: 2px solid white;
  cursor: pointer;
}

button:hover {
  background-color:  rgb(43, 43, 255);
}



